* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    }

body {
    background: url(/static/assets/books-bg.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
    opacity: .8;
    }


