{% extends 'base.html' %}

{% block title %}Home{% endblock %}
    
{% block content %}
<div class="overflow-scroll">
<table class="table table-light border border-black w-75 mt-5 mx-auto" id="book-table">
  <tr>
    <th class="border border-black text-center">Book Title</th>
    <th class="border border-black text-center">Author</th>
    <th class="border border-black text-center">Comments</th>
    <th class="border border-black text-center">Status</th>
    <th class="border border-black text-center">Actions</th>
  </tr>
  
  {% for book in books %}
  <tr>
    <td class="border border-black text-center">{{book.title}}</td>
    <td class="border border-black text-center">{{book.author}}</td>
    <td class="border border-black text-center">{{book.comments}}</td>
    <td class="border border-black text-center">{{book.status}}</td>
    <td class="border border-black text-center">
      <a href="{{url_for('edit', id=book.id)}}" class="btn btn-primary btn-sm mt-2">Edit</a>
      <a href="{{url_for('delete', id=book.id)}}" class="btn btn-danger btn-sm mt-2">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>
</div>

<div class="container bg-secondary mt-5 mb-5 mx-auto">
    <form method="POST" action="{{url_for('add')}}">
      <div class="row mb-3 pt-4">
        <label for="inputTitle" class="col-sm-2 col-form-label text-white">Book Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="title" placeholder="Book Title" id="inputTitle">
        </div>
      </div>
      <div class="row mb-3 pt-4">
        <label for="inputAuthor" class="col-sm-2 col-form-label text-white">Author</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="author" placeholder="Author" id="inputAuthor">
        </div>
      </div>
      <div class="row mb-3 pt-4">
        <label for="inputComments" class="col-sm-2 col-form-label text-white">Comments</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="comments" placeholder="Comments" id="inputComments">
        </div>
      </div>
      <div class="row mb-3 pt-4">
        <label for="inputStatus" class="col-sm-2 col-form-label text-white">Status</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="status" placeholder="Status" id="inputStatus">
        </div>
      </div>
      <div class="d-grid gap-2 d-md-block">
        <button type="submit" class="btn btn-primary mb-2" onclick="addBookToTable()">Add Book</button>
      </div>
    </form>
  </div>

{% endblock %}
